body {font-family: 'Montserrat', sans-serif;font-weight: 400;font-size: 16px;line-height: 1.7;color: #828282;background: #fff;}
#page {position: relative;overflow-x: hidden;width: 100%;height: 100%;-webkit-transition: 0.5s;-o-transition: 0.5s;transition: 0.5s;}
.offcanvas #page {overflow: hidden;position: absolute;}
.offcanvas #page:after {-ebkit-transition: 2s;o-transition: 2s;transition: 2s;position: absolute;top: 0;right: 0;bottom: 0;left: 0;z-index: 101;background: rgba(0, 0, 0, 0.7);content: "";}

a {color: #d1c286;-webkit-transition: 0.5s;-o-transition: 0.5s;transition: 0.5s;}
a:hover, a:active, a:focus {outline: none;text-decoration: none;}
p {margin-bottom: 20px;}

h1, h2, h3, h4, h5, h6, figure {color: #000;font-weight: 400;margin: 0 0 20px 0;}
::-webkit-selection {color: #fff;background: #d1c286;}
::-moz-selection {color: #fff;background: #d1c286;}
::selection {color: #fff;background: #d1c286;}
.fh5co-nav {padding: 18px 0;background: #fff;}

@media screen and (max-width: 768px) {
	.fh5co-nav {padding: 20px 0;}
}
.fh5co-nav .container{width:96%;}
.fh5co-nav #fh5co-logo {font-size: 20px;margin: 0;padding: 0;text-transform: uppercase;font-weight: bold;}
.fh5co-nav a {padding: 5px 10px;color: #000;}
@media screen and (max-width: 768px) {
.fh5co-nav .menu-1, .fh5co-nav .menu-2 {display: none;}
}
.fh5co-nav .menu-2 li.search {-webkit-transition: 0.3s;-o-transition: 0.3s;transition: 0.3s;padding: 0;margin: 0px 0 0 0;}
.fh5co-nav .menu-2 li input[type=text] {padding: 6px 10px;width: 40%;border: none;float: right;font-size: 13px;margin-top: 4px;-webkit-transition: 0.3s;-o-transition: 0.3s;transition: 0.3s;}
.fh5co-nav .menu-2 li input[type=text]:focus {width: 100%;outline: none;border-bottom: 1px solid rgba(0, 0, 0, 0.1);}
.fh5co-nav .menu-2 li button {margin-top: 4px;padding: 5px;background: transparent;border: none;}
.fh5co-nav .menu-2 li button i {color: rgba(0, 0, 0, 0.5);}
.fh5co-nav .menu-2 li button:hover, .fh5co-nav .menu-2 li button:focus {background: transparent !important;}
.fh5co-nav .menu-2 li button:hover i, .fh5co-nav .menu-2 li button:focus i {color: black;}
.fh5co-nav .menu-2 li a.cart {color: black;}
.fh5co-nav .menu-2 li a.cart span {position: relative;}
.fh5co-nav .menu-2 li a.cart span small {position: absolute;top: -20px;right: -15px;padding: 10px 6px;line-height: 0;font-size: 11px;background: #d1c286;color: white;-webkit-border-radius: 50%;-moz-border-radius: 50%;-ms-border-radius: 50%;border-radius: 50%;}
.fh5co-nav ul {padding: 0;margin: 0;}
.fh5co-nav ul li {padding: 0;margin: 0;list-style: none;display: inline-block;}
.fh5co-nav ul li a {fnt-size: 16px;padding: 0px 10px;text-transform: uppercase;olor: #525252;-webkit-transition: 0.5s;-o-transition: 0.5s;transition: 0.5s;}
.fh5co-nav .menu-1, .fh5co-nav .menu-2{padding-top:15px;}
.fh5co-nav .menu-1 ul li a{padding:0 25px;}
.fh5co-nav ul li a:hover, .fh5co-nav ul li a:focus, .fh5co-nav ul li a:active, .fh5co-nav ul li a.active {color: #f99d06;}
.fh5co-nav ul li a.cart {color: black;}
.fh5co-nav ul li a.cart span {position: relative;}
.fh5co-nav ul li a.cart span small {position: absolute;top: -20px;right: -15px;padding: 10px 6px;line-height: 0;font-size: 11px;background: #d1c286;color: white;-webkit-border-radius: 50%;-moz-border-radius: 50%;-ms-border-radius: 50%;border-radius: 50%;}
.fh5co-nav ul li.has-dropdown {position: relative;}
.fh5co-nav ul li.has-dropdown .dropdown {
width: 150px;
-webkit-box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
-moz-box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
z-index: 1002;
visibility: hidden;
opacity: 0;
position: absolute;
top: 40px;
left: 0;
text-align: left;
background: #000;
padding: 20px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
border-radius: 4px;
-webkit-transition: 0s;
-o-transition: 0s;
transition: 0s;
}
.fh5co-nav ul li.has-dropdown .dropdown:before {bottom: 100%;left: 40px;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;border-bottom-color: #000;border-width: 8px;margin-left: -8px;}
.fh5co-nav ul li.has-dropdown .dropdown li {dislay: block;margin-bottom: 7px;}
.fh5co-nav ul li.has-dropdown .dropdown li:last-child {margin-bottom: 0;}
.fh5co-nav ul li.has-dropdown .dropdown li a {padding: 2px 0;display: block;color: #999999;line-height: 1.2;text-transform: none;font-size: 15px;}
.fh5co-nav ul li.has-dropdown .dropdown li a:hover {color: #fff;}
.fh5co-nav ul li.has-dropdown:hover a, .fh5co-nav ul li.has-dropdown:focus a {color: #000;}
.fh5co-nav ul li.active > a {color: #000 !important;}
.fh5co-nav ul li .form-group {border: 1px solid red;width: 100%;}
#fh5co-offcanvas {position: absolute;z-index: 1901;width: 270px;background: black;top: 0;right: 0;top: 0;bottom: 0;padding: 45px 40px 40px 40px;overflow-y: auto;
display: none;
-moz-transform: translateX(270px);
-webkit-transform: translateX(270px);
-ms-transform: translateX(270px);
-o-transform: translateX(270px);
transform: translateX(270px);
-webkit-transition: 0.5s;
-o-transition: 0.5s;
transition: 0.5s;
}
@media screen and (max-width: 768px) {
#fh5co-offcanvas {display: block;}
}
.offcanvas #fh5co-offcanvas {
-moz-transform: translateX(0px);
-webkit-transform: translateX(0px);
-ms-transform: translateX(0px);
-o-transform: translateX(0px);
transform: translateX(0px);
}
#fh5co-offcanvas a {color: rgba(255, 255, 255, 0.5);}
#fh5co-offcanvas a:hover {color: rgba(255, 255, 255, 0.8);}
#fh5co-offcanvas ul {pading: 0;margin: 0;}
#fh5co-offcanvas ul li {padding: 0;margin: 0;list-style: none;}
#fh5co-offcanvas ul li.search {float: left;width: 100%;-webkit-transition: 0.3s;-o-transition: 0.3s;transition: 0.3s;padding: 0;margin: 5px 0 0 0;}
#fh5co-offcanvas ul li input[type=text] {padding: 6px 10px;width: 100%;border: 1px solid rgba(255, 255, 255, 0.1);float: right;font-size: 13px;margin-top: 4px;background: transparent;-webkit-transition: 0.3s;-o-transition: 0.3s;transition: 0.3s;}
#fh5co-offcanvas ul li input[type=text]:focus {width: 100%;outline: none;}
#fh5co-offcanvas ul li button {margin-top: 4px;padding: 6px;background: rgba(255, 255, 255, 0.1);border: 1px solid rgba(255, 255, 255, 0.1);margin-left: 1px;}
#fh5co-offcanvas ul li button i {color: rgba(255, 255, 255, 0.5);}
#fh5co-offcanvas ul li button:hover, #fh5co-offcanvas ul li button:focus {background: transparent !important;}
#fh5co-offcanvas ul li button:hover i, #fh5co-offcanvas ul li button:focus i {color: white;}
#fh5co-offcanvas ul li.shopping-cart {float: left;}
#fh5co-offcanvas ul li a.cart {display: block;margin-top: 30px;color: rgba(255, 255, 255, 0.5);}
#fh5co-offcanvas ul li a.cart span {position: relative;}
#fh5co-offcanvas ul li a.cart span small {postion: absolute;top: -20px;right: -15px;padding: 10px 6px;line-height: 0;font-size: 11px;background: #d1c286;color: white;-webkit-border-radius: 50%;-moz-border-radius: 50%;-ms-border-radius: 50%;border-radius: 50%;}
#fh5co-offcanvas ul li > ul {padding-left: 20px;display: none;}
#fh5co-offcanvas ul li.offcanvas-has-dropdown > a {display: block;position: relative;}
#fh5co-offcanvas ul li.offcanvas-has-dropdown > a:after {position: absolute;right: 0px;speak: none;font-style: normal;font-weight: normal;font-variant: normal;text-transform: none;line-height: 1;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
content: "\e921";
font-size: 20px;
color: rgba(255, 255, 255, 0.2);
-webkit-transition: 0.5s;
-o-transition: 0.5s;
transition: 0.5s;
}
#fh5co-offcanvas ul li.offcanvas-has-dropdown.active a:after {
-webkit-transform: rotate(-180deg);
-moz-transform: rotate(-180deg);
-ms-transform: rotate(-180deg);
-o-transform: rotate(-180deg);
transform: rotate(-180deg);
}
.uppercase {font-size: 14px;color: #000;margin-bottom: 10px;font-weight: 700;text-transform: uppercase;}
.gototop {psition: fixed;bottom: 20px;right: 20px;z-index: 999;opacity: 0;visibility: hidden;-webkit-transition: 0.5s;-o-transition: 0.5s;transition: 0.5s;}
.gototop.active {opacity: 1;visibility: visible;}
.gototop a {width: 50px;height: 50px;isplay: table;background: rgba(0, 0, 0, 0.5);color: #fff;text-align: center;-webkit-border-radius: 4px;-moz-border-radius: 4px;-ms-border-radius: 4px;border-radius: 4px;}
.gototop a i {height: 50px;display: table-cell;vertical-align: middle;}
.gototop a:hover, .gototop a:active, .gototop a:focus {text-decoration: none;outline: none;}
.fh5co-nav-toggle {widh: 25px;height: 25px;cursor: pointer;text-decoration: none;}
.fh5co-nav-toggle.active i::before, .fh5co-nav-toggle.active i::after {background: #444;}
.fh5co-nav-toggle:hover, .fh5co-nav-toggle:focus, .fh5co-nav-toggle:active {outline: none;border-bottom: none !important;}
.fh5co-nav-toggle i {position: relative;display: inline-block;width: 25px;height: 2px;color: #252525;font: bold 14px/.4 Helvetica;text-transform: uppercase;text-indent: -55px;background: #252525;transition: all .2s ease-out;}
.fh5co-nav-toggle i::before, .fh5co-nav-toggle i::after {content: '';width: 25px;height: 2px;background: #252525;position: absolute;left: 0;transition: all .2s ease-out;}
.fh5co-nav-toggle.fh5co-nav-white > i {color: #fff;ackground: #000;}
.fh5co-nav-toggle.fh5co-nav-white > i::before, .fh5co-nav-toggle.fh5co-nav-white > i::after {background: #000;}
.fh5co-nav-toggle i::before {top: -7px;}
.fh5co-nav-toggle i::after {botom: -7px;}
.fh5co-nav-toggle:hover i::before {top: -10px;}
.fh5co-nav-toggle:hover i::after {bottom: -10px;}
.fh5co-nav-toggle.active i {background: transparent;}
.fh5co-nav-toggle.active i::before {background: #fff;top: 0;
-webkit-transform: rotateZ(45deg);
-moz-transform: rotateZ(45deg);
-ms-transform: rotateZ(45deg);
-o-transform: rotateZ(45deg);
transform: rotateZ(45deg);
}
.fh5co-nav-toggle.active i::after {
background: #fff;
bottom: 0;
-webkit-transform: rotateZ(-45deg);
-moz-transform: rotateZ(-45deg);
-ms-transform: rotateZ(-45deg);
-o-transform: rotateZ(-45deg);
transform: rotateZ(-45deg);
}
.fh5co-nav-toggle {position: absolute;right: 0px;top: 10px;z-index: 21;padding: 6px 0 0 0;display: block;margin: 0 auto;display: none;height: 44px;width: 44px;z-index: 2001;border-bottom: none !important;}
@media screen and (max-width: 768px) {
.fh5co-nav-toggle {display: block;}
}

/*---------------*/
.sctionone{float:left; width:100%; background:url(../images/bg-01.jpg) no-repeat center center; background-size:100% 100%; min-height:850px; color:#fff;}
.sctiontwo{float:left; width:100%; background:url(../images/bg-02.jpg) no-repeat center center; background-size:100% 100%; min-height:850px; color:#fff;}
.sctionthree{float:left; width:100%; background:url(../images/bg-01.jpg) no-repeat center center; background-size:100% 100%; min-height:730px; color:#fff;}
.posrel{position:relative; min-height:702px;}
.pad-t300{padding-top:300px;}
.pad-t200{padding-top:200px;}
.txt50{font-size:50px;}
.txt43{font-size:43px;}
.pad-b35{padding-bottom:35px;}
.pad-b15{padding-bottom:15px;}
.whttxt{color:#fff;}
.blktxt{color:#1e1e1e;}
.rndwbtn{display:inline-block; padding:10px 40px; font-size:16px; font-weight:700; text-decoration:none; color:#fff; border-radius:30px; border:solid 2px #fff;}
.ylwbtn{display:inline-block; padding:15px 40px; font-size:16px; font-weight:700; text-decoration:none; color:#f9a70a; border-radius:30px; border:solid 2px #f9a70a;}
.fw800{font-weight:800;}
.fw600{font-weight:600;}
.lh65{line-height:65px;}
.lh50{line-height:50px;}
.redmr{ background:url(../images/read-more.png) no-repeat  center right; padding:0 30px 0 0; font-weight:600; color:#525252; display:inline-block;}
.whtsec{color:#525252;}
.pad-tb80{padding-top:80px; padding-bottom:80px;}
.full{float:left; width:100%;}
img{max-width:100%}
.rgtxt{text-align:right;}
.autname{font-weight:800 !important;}
.girlsec{position:absolute; bottom:0px; left:0px;}
.allblog{float:right;}
.ctrtxt{text-align:center;}
.newspic{margin-bottom:30px;}
.newstitle{color:#1e1e1e; font-size:20px; font-weight:600; padding-bottom:15px;}

.fotblock{float:left; width:100%;}
.footersec{background:#131313; padding:60px 0;}
.footersec h3{color:#fff; font-size:20px; font-weight:800; margin:0 0 10px 0; line-height:28px;}
.emailnews{ width:100%; margin:20px 0 0 0; border-bottom:solid 2px #f9a70a; padding:5px 0;}
.emailnews input[type="text"]{background:none; border:0px; width:85%; height:30px; line-height:30px; font-size:16px; color:#fff;}
.emailnews button{background:url(../images/ylwarw.png) no-repeat 0 0; border:0px; width:20px; height:20px; float:right;}
.footersec ul{list-style:none; margin:0px; padding:0px;}
.footersec ul li{display:block; margin:0px; padding:4px 0;}
.footersec ul li a{color:#989898; text-decoration:none; font-size:17px;}
.footersec ul li a:hover{color:#fff;}
.copyright{width:100%; float:left; background:#0f0f0f; color:#989898; padding:20px 0;}
.copyright a{color:#989898; text-decoration:none; padding:0 15px;}
.copyright a:hover{color:#fff;}
.pad-lr50{padding-left:50px; padding-right:50px;}
.ftrnav{ padding-left:150px;}
.folus ul{list-style:none; margin:0px; padding:0px;}
.folus ul li{display:inline-block; margin:0 20px 0 0;}
.folus ul li a i{font-family:20px !important;}
.pad-t80{padding-top:80px;}
@media screen and (max-width: 767px) {
.pad-t300{padding-top:50px;}
.rndwbtn{padding:10px 20px;}
.txt50{font-size:150%;}
.sctionone, .sctiontwo{padding-bottom:50px; min-height:inherit;}
.sctionone .txt50.pad-t300.pad-b35.fw800.lh65.whttxt{padding-bottom:0px;}
.lh65{line-height:normal;}
.txt43{font-size:170%}
.lh50{line-height:normal;}
.full.whtsec.pad-tb80 .txt43.pad-b35.fw600.lh50.blktxt{padding-top:25px;}
.pad-tb80{padding-top:40px; padding-bottom:40px;}
.sctionthree{display:none;}
.full.whtsec.pad-tb80.newssec img{width:100%;}
.footersec div.col-md-4{margin-bottom:20px;}
.ftrnav{padding-left:0px;}
.col-md-6.rgtxt{text-align:center;}
.copy{text-align:center;}
.sctiontwo .pad-t80{padding-top:20px;}
.sctionone, .sctiontwo, .sctionthree{background-size:cover;}
.ylwbtn{padding:15px; margin:5px 0 15px;}

}
